body {
    margin: 0;
    padding: 0;
    background-color: #22092C;
    color: white;
    font-family: 'lato', sans-serif;
    font-size: 18px;
}

#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

/* flickering underscore effect */
@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.flickering-underscore {
    display: inline-block;
    animation: flicker 0.8s infinite; /* Adjust the duration as needed */
}

.my-name{
    color: #e61c39;
    font-weight: bold;
}

/* responsive menu for small displays */
#menu{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
}

#menu a{
    /* font-size: 20px; */
    padding: 5px;
    text-decoration: none;
    margin-right: 20px;
    color: white;
    position: relative;
}

@media (min-width: 576px) {
    /* responsive design for anything above 576px */
    #menu {
      display: block;
      font-size: 20px;
    }

    /* show animation when hovering */
    #menu a:hover::after {
        opacity: 1;
    }
    
    /* arrow animation for hovering menu item */
    #menu a::after {
        content: '▼'; /* Unicode arrow character */
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
}

@keyframes pulse{
    /* red pulsing animation */
    0% { transform: scale(1); }
    50% { transform: scale(1); color: #e61c39; }
    100% { transform: scale(1); color: white; }
}

#menu a:hover{
    /* show pulsing animation when hovering */
    animation: pulse 1s infinite;
}


/* about section */
#about-me{
    min-height: 100vh;
}

#about-me-box{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: 40vh;
    padding-left: 5%;
    padding-right: 3%;
    word-wrap: break-word;
}

#about-me-box h1{
    font-size: 30px;
    font-weight: bold;
    color: #e61c39;
}

.image-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-images{
    border-radius: 30px;
    width: auto;
    max-height: 400px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

@media (min-width: 992px) {
    #about-me-box{
        min-height: 100vh;
    }

    .image-box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-images{
        border-radius: 30px;
        width: auto;
        max-height: 500px;
        box-shadow: 0 4px 8px rgb(0, 0, 0);
    }

}

.car-img{
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.shoes-img{
    position: absolute;
    opacity: 50%;
    top: 20%;
    right: 20%;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
}

.shoes-img:hover{
    opacity: 100%;
    z-index: 2;
}

/* projects section */
#projects-text {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

#projects-text h1{
    font-size: 30px;
    font-weight: bold;
    color: #e61c39;
}

/* used for cards */
#app-title {
    padding-left: 0.8em;
    padding-top: 0.5em;
    margin: 0;
    font-weight: 800;
}

#app-text {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#projects-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin: 3em;
    width: 18%;
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow change */
}

.card img {
    width: 100%;  /* Adjust as needed */
    height: 50%;  /* Adjust as needed */
    object-fit: cover;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0px 12px 16px rgba(255, 255, 255, 0.4); /* Smaller box-shadow on hover */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bttns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.image-container img{
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    #projects-cards {
        justify-content: center;
    }

    .card {
        width: 75%;
    }
}

/* contact section */
#contact-section h1{
    font-size: 30px;
    font-weight: bold;
    color: #e61c39;
    text-align: center;
    margin-top: 4em;
}

#contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#contact {
    height: 100vh;
}

.icons {
    margin-left: 1em;
}
